<div id="mainDiv">
<p>Front End Skills</p>
<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/html5.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="1500"
></circle-progress>

<circle-progress
[percent]="70"
[radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/javascript.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>


<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/react.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/typescript.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<hr>
<p id="pBackend">BackEnd Skills</p>


<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/nodejs.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>


<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/java.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/mysql.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>

<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/servidor-sql.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>


<circle-progress
  [percent]="70"
  [radius]="60"
  [showUnits]=false
  [showImage]=true
  [imageHeight]="60"
  [imageWidth]="60"
  [imageSrc]="'../assets/springboot.png'"
  [showSubtitle]=false
   [outerStrokeWidth]="14"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
