<mat-form-field appearance="standard">
  <mat-label>Filtrar</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
</mat-form-field>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- Checkbox Column -->
   <!-- Checkbox Column -->
   <ng-container  matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <button (click)="openDialog()" *ngIf="(r)">Editar </button>
    </th>
    <td  mat-cell *matCellDef="let row">
      <mat-checkbox *ngIf="isLogged" (click)="selected(row)"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="academy">
      <th mat-header-cell *matHeaderCellDef> Academia </th>
      <td mat-cell class="mat-cell-academy" *matCellDef="let element"> {{element.academy}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="year_start">
      <th mat-header-cell *matHeaderCellDef> Año Inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.year_start}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="year_end">
      <th mat-header-cell *matHeaderCellDef> Año Fin </th>
      <td mat-cell *matCellDef="let element"> {{element.year_end}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripcion </th>
      <td class="mat-cell-description" mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>