/* Add application styles & imports to this file! */
.btnEdit{
  color: #2ecc71;
}




.title1 {
    font-size: 18px;
    }
    .title2 {
    
    font: 1.5rem roboto;
      
    background-image: linear-gradient(to left, #FFD700, #7B68EE, #3498db, #2ecc71, #FFD700);      
    color: transparent;    
    background-clip: text;   
    margin-left: 10px;
      margin: 0 !important;
      
    }
    .table-margins {
          margin-right: 5%;
        margin-left: 5%;
        margin-top: 3%;
    }
    .timeline{
      --uiTimelineMainColor: var(--timelineMainColor, #fff);
      --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #353434);
    
      position: relative;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    
    .timeline:before{
      content: "";
      width: 4px;
      height: 100%;
      background-color: var(--uiTimelineMainColor);
    
      position: absolute;
      top: 0;
    }
    
    .timeline__group{
      position: relative;
    }
    
    .timeline__group:not(:first-of-type){
      margin-top: 4rem;
    }
    
    .timeline__year{
      padding: .5rem 1.5rem;
      color: #fff;
      background-color: var(--uiTimelineMainColor);
      left: 1px;  
      position: absolute;
      top: 0;
    }
    .timeline__end {
        padding: .5rem 1.5rem;
        color: #fff;
        background-color: var(--uiTimelineMainColor);
        position: absolute;
        margin-top: 2%;
        
        
    }
    
    .timeline__box{
      position: relative;
    }
    
    .timeline__box:not(:last-of-type){
      margin-bottom: 30px;
    }
    
    .timeline__box:before{
      content: "";
      width: 100%;
      height: 2px;
      background-color: var(--uiTimelineMainColor);
    
      position: absolute;
      left: 0;
      z-index: -1;
    }
    
    .timeline__date{
      min-width: 65px;
      position: absolute;
      left: 0;
    
      box-sizing: border-box;
      padding: .5rem 1.5rem;
      text-align: center;
    
      background-color: #353434;
      color:  #997BB8;
      
    }
    
    .timeline__day{
      font-size: 2rem;
      font-weight: 700;
      display: block;
    }
    
    .timeline__month{
      display: block;
      font-size: .8em;
      text-transform: uppercase;
    }
    
    .timeline__post{
      padding: 1.5rem 2rem;
      border-radius: 2px;
      border-left: 3px solid var(--uiTimelineMainColor);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
      background-color: var(--uiTimelineSecondaryColor);
      margin-left: 50px;
    }
    .timeline__post__start{
      padding: 1.5rem 2rem;
      border-radius: 2px;
      border-left: 3px solid var(--uiTimelineMainColor);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
      background-color: var(--uiTimelineMainColor);
      color: whitesmoke;
    }
    @media screen and (min-width: 641px){
    
      .timeline:before{
        left: 30px;
      }
    
      .timeline__group{
        padding-top: 55px;
      }
    
      .timeline__box{
        padding-left: 80px;
      }
    
      .timeline__box:before{
        top: 50%;
        transform: translateY(-50%);  
      }  
    
      .timeline__date{
        top: 50%;
        margin-top: -27px;
      }
    }
    
    @media screen and (max-width: 640px){
    
      .timeline:before{
        left: 0;
      }
    
      .timeline__group{
        padding-top: 40px;
      }
    
      .timeline__box{
        padding-left: 20px;
        padding-top: 70px;
      }
    
      .timeline__box:before{
        top: 90px;
      }    
    
      .timeline__date{
        top: 0;
      }
    }
    
    .timeline{
      --timelineMainColor: #858896;
      font-size: 16px;
    }
    
    @media screen and (min-width: 768px){
    
      html{
        font-size: 62.5%;
      }
    }
    
    @media screen and (max-width: 767px){
    
      html{
        font-size: 55%;
      }
    }
    
    /*
    * demo page
    */
    
    @media screen and (min-width: 768px){
    
      html{
        font-size: 62.5%;
      }
    }
    
    @media screen and (max-width: 767px){
    
      html{
        font-size: 50%;
      }
    }
    
    body{
     
      color: #222;
    
      background-color: #f0f0f0;
      margin: 0;
      -webkit-overflow-scrolling: touch;   
      overflow-y: scroll;
    }
    
    p{
      margin-top: 0;
      margin-bottom: 1.5rem;
      line-height: 1.5;
    }
    
    p:last-child{
      font-size: 1.2rem;
      font-weight: 100;

      margin-bottom: 0;
      color: #e7d8d8;
      font-family: Roboto;
    }
    
    .page{
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    
    .page__demo{
      flex-grow: 1;
    }
    
    .main-container{
      max-width: 960px;
      padding-left: 2rem;
      padding-right: 2rem;
    
      margin-left: auto;
      margin-right: auto;
    }
    
    .page__container{
      padding-top: 30px;
      padding-bottom: 30px;
      max-width: 800px;
    }
    
    .footer{
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;  
      font-size: 1.4rem;
    }
    
    .footer__link{
      text-decoration: none;
      color: inherit;
    }
    
    @media screen and (min-width: 361px){
    
      .footer__container{
        display: flex;
        justify-content: space-between;
      }
    }
    
    @media screen and (max-width: 360px){
    
      .melnik909{
        display: none;
      } 
    }

    p {
        font-family: Lato;
      }
      table {
          border-collapse: collapse;
          width: 100%;
      }
      
      th, td {
        border: 1px solid #ddd;
          text-align: left;
          padding: 8px;
      }
      
      tr:nth-child(even){background-color: #f2f2f2}
      
      th {
          background-color: #4557bb;
          color: white;
      }